settingup.txt
notes
env
products/migrations
microservice-1/admin/.dbdata/auto.cnf
microservice-1/admin/.dbdata/ca-key.pem
microservice-1/admin/.dbdata/ca.pem
microservice-1/admin/.dbdata/client-cert.pem
microservice-1/admin/.dbdata/client-key.pem
microservice-1/admin/.dbdata/ib_buffer_pool
microservice-1/admin/.dbdata/ib_logfile0
microservice-1/admin/.dbdata/ib_logfile1
microservice-1/admin/.dbdata/ibdata1
microservice-1/admin/.dbdata/private_key.pem
microservice-1/admin/.dbdata/public_key.pem
microservice-1/admin/.dbdata/server-cert.pem
microservice-1/admin/.dbdata/server-key.pem
microservice-1/admin/products/__pycache__/__init__.cpython-39.pyc
microservice-1/admin/products/__pycache__/admin.cpython-39.pyc
microservice-1/admin/products/__pycache__/models.cpython-39.pyc
microservice-1/admin/products/migrations/__pycache__/__init__.cpython-39.pyc
microservice-1/admin/admin/__pycache__/__init__.cpython-38.pyc
microservice-1/admin/admin/__pycache__/__init__.cpython-39.pyc
microservice-1/admin/admin/__pycache__/settings.cpython-38.pyc
microservice-1/admin/admin/__pycache__/settings.cpython-39.pyc
microservice-1/admin/admin/__pycache__/urls.cpython-38.pyc
microservice-1/admin/admin/__pycache__/urls.cpython-39.pyc
microservice-1/admin/admin/__pycache__/wsgi.cpython-38.pyc
microservice-1/admin/admin/__pycache__/wsgi.cpython-39.pyc


microservice-1/admin/products/__pycache__/urls.cpython-39.pyc
microservice-1/admin/products/__pycache__/views.cpython-39.pyc
microservice-1/admin/products/__pycache__/serializers.cpython-39.pyc
microservice-1/admin/.dbdata/ibtmp1
